body {
  margin: 0;
}

.products {
  width: 100%;
  font-family: sans-serif;
  border-collapse: collapse;
  text-align: center;
}

.products_th {
  padding: 10px;
  color: #fff;
  background-color: #96ceb4;
}

.products_td {
  padding: 10px;
  border-top: 1px solid #96ceb4;
}

.products_btn {
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  color: #fff;
  background-color: #d9534f;
  outline: none;
}

.products_btn:hover {
  cursor: pointer;
  filter: brightness(1.1);
}